:root {
    --font-family-default: system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
}

body {
    font-family: var(--font-family-default);
    font-size: .875rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    background: url('react-logo.png') no-repeat;
}
